
.heading
{
font-size: 34px;
width: 100%;
margin: 0px;
height: 10%;
}

#status, #number_of_objects, #start_model
{
font-size: 18px;
}

body
{
    background-size: cover;
    background-position: center;
}

canvas
{
    box-shadow: 10px 10px 10px greenyellow;
    border-radius: 10px;
    margin-top: 30px;
}


